/*Beginning of css for login*/
.content * {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('images/pexels-photo-6642546.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.content header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: dimgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.content .logo {
  font-size: 2em;
  color:#fff;
  user-select: none;
}


.content .navigation a {
  position: relative;
  font-size: 1.1em;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;

}
.content .navigation a::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.content .navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.content .navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}
.content .navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162916;
}
.content .wrapper{
  position: fixed;
  z-index:9999;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 28px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 38px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items:center;
 overflow: hidden;
 transform: scale(0);
 transition: transform .5s ease,height .2s ease;
}
.content .wrapper.active-popup{

  transform: scale(1);
}
.content .wrapper.active {
height: 520px;


}
.content .wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.content .wrapper .form-box.login {
transition: transform .18s ease;
transform: translateX(0);
}

.content .wrapper.active .form-box.login {
transition: none;
transform: translateX(-400px);
  }
  .content .wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.content .wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
  }

  .content .wrapper .icon-close {
position: absolute;
top: 0;
right: 0;
width: 45px;
height: 45px;
background: #162938;
font-size: 2em;
color:#fff;
display: flex;
justify-content: center;
align-items: center;
border-bottom-left-radius: 20px;
cursor: pointer;
z-index: 1;

}
.content .form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;


}
.content .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;


}
.content .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
   color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;

}
.content .input-box input:focus~label,
.content .input-box input:valid~label {
  top: -5px;
}

.content .input-box input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 1em;
color: #162938;
font-weight: 600;
padding: 0 35px 0 5px;

}

.content .input-box .icon {
 position: absolute;
 right: 8px; 
 font-size: 1.2em;
 color:#162938;
 line-height: 57px;
}

.content .remember-forgot {
  font-size: .9em;
color: #162938;
font-weight: 500;
margin:-15px 0 15px;
display: flex;
justify-content: space-between;
}

.content .remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.content .remember-forgot a {

  color: #162938;
  text-decoration: none;
}

.content .remember-forgot a:hover {
text-decoration: underline;

}
.content .btn {
width: 100%;
height: 45px;
background:#162938;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color:#fff ;
font-weight: 500;

}
.content .login-register {

  font-size: .9em;
  color:#162938;
  text-align: center;
  font-weight: 500;
  margin:25px 0 10px ;
}

.content .login-register p a {
color:#162938;
text-decoration: none;
font-weight: 600;

}
.content .login-register p a:hover {
  text-decoration: underline;
}



/*  End of login and register style */
.additional-content
{
  position: relative;
  z-index: 1;
}
.additional-content * {
  box-sizing: border-box;
}


.additional-content input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.additional-content input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.additional-content input[type=submit]:hover {
  background-color: #45a049;
}


.additional-content .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;

  background: url('images/backgroundContact.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}


.additional-content .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.additional-content .row:after {
  content: "";
  display: table;
  clear: both;
}

.additional-content label,.additional-content  p ,.additional-content h2 {
  color: black;
  font-weight: bolder;
  font-size: 26px;
}

@media screen and (max-width: 600px) {
  .additional-content .column,.additional-content  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}